# Generate a long random string for production!
SECRET_KEY=change-me-to-a-long-random-secret

# Set to "true" ONLY if your OpenShift route terminates HTTPS all the way to the pod
SESSION_COOKIE_SECURE=false

PORT=8080

# TLS paths (only needed if running with direct TLS on 8443)
# SSL_CERT_PATH=/etc/ssl/certs/tls.crt
# SSL_KEY_PATH=/etc/ssl/private/tls.key
